@media (max-width: 600px) {
  body {
      background-color: white;
      margin: 0;
      padding: 0 2vw 0 2vw;
    }
    header {
      display: flex;
      width: 100%;
      background-color: rgb(247,238,218);
    }
    #logoContainer {
      display: flex;
      align-items: center;
      width: 50%;
    }
    #logo {
      width: 96%;
    }
    #headRight {
      display: flex;
      overflow-x: auto;
      gap: 2vw;
      width:50%;
      background-color: rgb(247,238,218);
      padding: 2vw 0 4vw 0;
    }
    .headPhotos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 75%;
      background-color: rgb(255,255,255);
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      border: .5vw solid black;
      border-radius: 10vw;
      text-align: center;
      font-size: 3vw;
      font-weight: bold;
    }
    .photos {
      width: 65%;
    }
    nav {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 4vw;
      background-color: rgb(247,238,218);
    }
    nav input {
      width: 75%;
      text-align: center;
      border: .5vw solid black;
    }
    main {
      width: 100%;
      min-height: 160vw;
      text-align: center;
      background-color: rgb(247,238,218);
      padding-top: 2vw;
    }

    /*Styling for the div that holds job options*/
    #jobOptions {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 31%);
      gap: 2vw;
      margin: 2vw 0 0 0;
    }

    /*Styling for job options (add, Edit, Delete)*/
    .JobOptionsStyle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      border: .5vw solid black;
      border-radius: 2vw;
      padding: 0 1vw 1vw 1vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      background-color: 	rgb(174, 120, 84);
      padding: 2vw 2vw 2vw 2vw;
    }
    .JobOptionsStyle p {
      margin: 0;
      font-weight: bold;
    }

    /*Styling for list Jobs button*/
    #loadJobs {
      margin: 4vw 0 4vw 0;
      width: 40%;
      background-color: whitesmoke;
    }

    /*Class for styling all Jobs names*/
    .jobsNames {
      font-weight: bold;
    }

    /*Class for styling all jobs notes*/ 
    .jobsNotes {
      text-align: left;
    }

    /*Div styling for list jobs window*/
    #jobDisplay {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 47%);
      gap: 2vw;
    }

    /*class for list jobs window*/
    #listJobsWindow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      border: .5vw solid black;
      border-radius: 3vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      background-color: rgb(174, 120, 84);
    }
    #listJobsWindow p {
      margin: 0;
    }
    #viewJobDisplay {
      display: flex;
      justify-content: center;
    }

    /*Styling for the view job window*/
    #viewJobDelete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      width:85%;
      border: .2vw solid black;
      border-radius: 3vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
    #viewJobDelete p {
      margin: 0;
    }
    #viewDeleteBtn {
      align-self: center;
      width: 40%;
    }

    /*display container for jobs page*/
    #display {
      background-color: rgb(247,238,218);
      width: 100%;
    }

    /*Add Job window style*/
    #addEditJobWindow {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: rgb(247,238,218);
    }
    #addEditJobWindowContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      background-color: rgb(174, 120, 84);
      border: .2vw solid black;
      border-radius: 2vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
    }
    #jobName, #jobNotes {
      border: .2vw solid black;
    }
    #jobName[placeholder] {
      text-align: center;
    }
    #addEditJobWindowContainer button {
      width: 40%;
    }
    #addEditJobWindowContainer p {
      margin: 0;
      font-weight: bold;
    }
    button {
      border: .2vw solid black;
      background-color: rgb(247,238,218);
    }
} 

