@media (max-width: 600px) {
  body {
      background-color: white;
      margin: 0;
      padding: 0 2vw 0 2vw;
    }
    header {
      display: flex;
      width: 100%;
      background-color: rgb(247,238,218);
    }
    #logo-container {
      display: flex;
      align-items: center;
      width: 50%;
    }
    #logo {
      width: 96%;
    }
    #head-right {
      display: flex;
      overflow-x: auto;
      gap: 2vw;
      width:50%;
      background-color: rgb(247,238,218);
      padding: 2vw 0 4vw 0;
    }
    .head-photos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 auto;
      width: 75%;
      background-color: rgb(255,255,255);
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      border: .5vw solid black;
      border-radius: 10vw;
      text-align: center;
      font-size: 3vw;
      font-weight: bold;
    }
    .photos {
      width: 65%;
    }
    nav {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 4vw;
      background-color: rgb(247,238,218);
    }
    nav input {
      width: 75%;
      text-align: center;
      border: .5vw solid black;
    }
    main {
      width: 100%;
      min-height: 160vw;
      text-align: center;
      background-color: rgb(247,238,218);
      padding-top: 2vw;
    }

    /*Styling for the div that holds job options*/
    #job-options {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 31%);
      gap: 2vw;
      margin: 2vw 0 0 0;
    }

    /*Styling for job options (add, Edit, Delete)*/
    .job-options-style {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      border: .5vw solid black;
      border-radius: 2vw;
      padding: 0 1vw 1vw 1vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      background-color: 	rgb(174, 120, 84);
      padding: 2vw 2vw 2vw 2vw;
    }
    .job-options-style p {
      margin: 0;
      font-weight: bold;
    }

    /*Styling for list Jobs button*/
    #load-jobs {
      margin: 4vw 0 4vw 0;
      width: 40%;
    }

    /*Class for styling all Jobs names*/
    .jobs-names {
      font-weight: bold;
    }

    /*Class for styling all jobs notes*/ 
    .jobs-notes {
      text-align: left;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }

    /*Div styling for list jobs window*/
    #job-display {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(2, 47%);
      gap: 2vw;
    }

    /*class for list jobs window*/
    .list-jobs-window {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      border: .5vw solid black;
      border-radius: 3vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
    .list-jobs-window p {
      margin: 0;
    }
    #view-job-display {
      display: flex;
      justify-content: center;
    }

    /*Styling for the view job window*/
    #view-job-delete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      width:85%;
      border: .2vw solid black;
      border-radius: 3vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
    }
    #view-job-delete p {
      margin: 0;
    }
    #view-delete-btn {
      align-self: center;
      width: 40%;
    }

    /*display container for jobs page*/
    #display {
      background-color: rgb(247,238,218);
      width: 100%;
      
    }

    /*Add Job window style*/
    #add-edit-job-window {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: rgb(247,238,218);
    }
    #add-edit-job-window-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      background-color: rgb(247,238,218);
      border: .2vw solid black;
      border-radius: 2vw;
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      padding: 2vw;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    #job-name, #job-notes {
      border: .2vw solid black;
    }
    #job-name[placeholder] {
      text-align: center;
    }
    #add-edit-job-window-container button {
      width: 40%;
    }
    #add-edit-job-window-container p {
      margin: 0;
      font-weight: bold;
    }
    button {
      border: .2vw solid black;
      background-color: whitesmoke;
    }


    /*styling for add resource container in editJob*/ 
    #resource-container {
      display: flex;
      justify-content: center;
      gap: 2vw;
      width: 90%;
      margin: 3vw 0 3vw 0;
    }

    #tool-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      align-items: center;
      border: .2vw solid black;
      width: 47%;
      padding: 2vw;
      text-align: center;
    }
    #tool-container input {
      width: 75%;
      border: .2vw solid black;
      text-align: center;
    }

    #material-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2vw;
      width: 47%;
      border: .2vw solid black;
      padding: 2vw;
      text-align: center;
    }

    #material-container input {
      width: 75%;
      border: .2vw solid black;
      text-align: center;
    }

    #view-resource-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2vw;
      width: 95%;
      align-self: center;
      padding: 2vw;
    }

    #view-tool-container {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      border: .2vw solid black;
      width: 95%;
      text-align: left;
      padding: 1vw;
      white-space: pre-wrap;
      word-wrap: break-word;

    }
    #tool-title {
      text-align: center;
      font-weight: bold;
    }
    #view-material-container {
      display: flex;
      flex-direction: column;
      border: .2vw solid black;
      gap: 4vw;
      width: 95%;
      text-align: left;
      padding: 1vw;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    #material-title {
      text-align: center;
      font-weight: bold;
    }
    #add-edit-job-window #view-tool-container {
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      align-self: center;
      border-radius: 2vw;
    }
    #add-edit-job-window #view-tool-container button {
      width: 40%;
    }

    #add-edit-job-window #view-material-container {
      box-shadow: .5vw 1vw 2.5vw rgba(0, 0, 0, 0.5);
      align-self: center;
      border-radius: 2vw;
    }
    #add-edit-job-window #view-material-container button {
      width: 40%;
    }
} 

